<div class="container">
  <h1><%= @restaurant.name %> <small><%= @restaurant.address %></small></h1>
  <h2>
    <%= pluralize @restaurant.reviews.size, "review" %>
  </h2>

  <div id="reviews">
    <% if @restaurant.reviews.blank? %>
      Be the first to leave a review for <%= @restaurant.name %>
    <% else %>
      <% @restaurant.reviews.last(5).each do |review| %>
        <p id="review-<%= review.id %>"><%= review.content %></p>
      <% end %>
    <% end %>
  </div>

  <%= simple_form_for([ @restaurant, @review ], remote: true) do |f| %>
    <%= f.input :content, as: :text, autofocus: true %>
    <%= f.button :submit %>
  <% end %>
</div>
